.container{
    //width:6000px !important;
    float: left;

}
.dropdown-submenu {
    position: relative;
    cursor: pointer;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.req-table{
    width:100%;
    border-collapse: collapse;
}
.dropdown-menu-req{
    display: inline-table;

}
.uml-class{
    margin:5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
}
.sbt-btn{
    float: right;
}
.class-name{
    display: inline;
}


.tt-menu{
    cursor: pointer;
    width: 300px;       
    margin: 12px 0;
    padding: 8px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

}
.schema-names{
    width: 200px;
    display: inline; 
    height: 35px; 
    margin-top: -7px;
}
.req-succ{
    margin-top: 20px;
    width: 500px;
}
.main-content{
    padding: 100px;
    padding-top: 50px;
}
#suggesstion-box{
     position: absolute;
 
}
.btn-menu{
    padding: 3px 6px;
}
